/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/4/26, 上午 10:33:06
    Author     : little_rush
*/
@charset "utf-8";
body{
		font: Verdana, Arial, Helvetica, sans-serif;
		margin: 0 auto;
		padding:0;
		width: 1200px;
}
.all_list{
	width:200px;
	height:auto;
	padding: 0px,0px,0px,5px;
	background-color:red;
	float:left;
}
.all_view{
	width:1000px;
	height:auto;
	background-color:yellow;
	float:left;
}
